.nav-tabs {
    border: none;
}

#navbar {
    padding: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.25rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

#navbar div:first-child {
    display: flex;
}

nav .dropdown {
    margin: 0;
}

nav .dropdown button {
    background: none;
    border: none;
    border-radius: 0;
    color: #000;
    border-right: 1px solid #ddd;
}

#tabsbar {
    padding-left: 0.5rem;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding-bottom: 0 !important;
}

.accordion-button {
    /*width: auto;*/

}

.accordion-button::before {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23343a40'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    transform: rotate(-90deg);
    margin-right: 10px;
}

.accordion-button:not(.collapsed)::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23343a40'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.accordion-button::after {
    display: none;
}

.col-9 {
    padding: 0;
}

#sidebar_container {
    border-right: 1px solid #ccc;
    padding-right: 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
}

#content {
    flex: 1 0;
}

#statusbar {
    height: 5%;
    border-top: 1px solid #ddd;
    padding: 5px 10px;
}